<style>
    body {
        background-image: url("/images/doc1.jpg");
        background-size: cover;
    }
</style>


<br />
<br />
<br />
<br />
<br />
<h1>Oooops Something went wrong!!!!!!</h1>
<br />
<br />
<br />
<br />
<br />
<body>



    @using (Html.BeginForm("Index", "Home"))
    {
        <input type="submit" value="Go to Login" />}&nbsp;&nbsp;&nbsp;


</body>