<style>
    body {
        background-image: url("/images/doc1.jpg");
        background-size: cover;
    }
</style>



<h1>Your Appointment is scheduled</h1>
<br />
<br />
<br />
<br />
<br />
<body>



    @using (Html.BeginForm("Index", "Home"))
    {
        <input type="submit" value="Go to Login" />}&nbsp;&nbsp;&nbsp;
    @using (Html.BeginForm("Home", "Home"))
    {
        <input type="submit" value="Home" />
    }

</body>
